*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.free-call{
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(3, 18, 64);
    padding: 10px 50px;
}
.number p{
    color: rgb(255, 255, 255);
}
.icon a{
    color: white;
    margin-left: 15px;
    
}


.container{
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    
}
.menu nav a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    border-bottom: 3px solid black;
}
.you-btn button{
    padding: 10px 35px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 14px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    color: black;
    background-color: red;
    outline: 2px solid white;
}
.menu{
    margin-top: 25px;
}
.you-btn button:hover{
    background-color: black;
    color: red;
    transition: 0.4s;
}
.menu nav a:hover{
    border-color: rgb(179, 69, 140);
    transition: 0.3s;
    color: rgb(179, 69, 140);
}



.design{
    background-color: rgb(191, 191, 191);
}

.develop{
    width: 86%;
    background-color: rgb(80, 80, 87);
    padding: 100px 100px;
    margin-left: 105px;
    margin-top: 80px;
    display: inline-block;
    box-shadow: 15px 20px 60px 10px;

}
.develop h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.develop p{
    margin-top: 25px;
    font-size: 20px;
    text-align: justify;
    color: white;
}
.develop button{
    padding: 10px 35px;
    margin-right: 15px;
    margin-top: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: none;
}
.cover img{
    margin-top: 100px;
    margin-left: 105px;
    box-shadow: 15px 20px 60px 10px;
    margin-bottom: 150px;
    
}


.helps-top{
    background-color: rgb(0, 0, 0);
}
.help h1{
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
    color: white;
    
}
.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 105px;
    padding-bottom: 100px;
    
}
.card-dtl{
    width: 84%;
    margin-top: 100px;
    padding: 20px 20px;
    background-color: black;
    color: white;
    box-shadow: 1px 0px 20px 3px;
}
.card-image{
    display: flex;
    text-align: center;
}
.image img{
    border-radius: 100px;
}
.video-class h1{
    margin-top: 20px;
}
.card-dtl:hover{
    background-color: rgb(80, 80, 87);
    transition: 0.4s;
}



.course h1{
    text-align: center;
    padding: 100px 0px 0px 0px;
    font-size: 40px;
    background-color: rgb(3, 18, 64);
    color: white;
}







.engineer{
    width: 100%;
    height: 100vh;
    background: rgb(3, 18, 64);
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    
}
.row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col{
    flex-shrink: 30%;
    position: relative;
    margin-left: 20px;
}
.col img{
    width: 100%;

}
.info{
    width: 90%;
    padding: 0px 0px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    background: #001115;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    
}
.info h2{
    font-weight: normal;
    margin-bottom: -2px;
    margin-top: 20px;
    
}
.info p{
    font-size: 13px;
    padding-bottom: 1x;
    margin-top: 5px;
    margin-bottom: 5px;
}
.icon .fa-brands{
    font-size: 20px;
    padding: 0px 0 20px 0;
    cursor: pointer;
}
.fa-facebook{
    color: #5088fb;
}
.fa-twitter{
    color: #5088fb;
}
.fa-linkedin{
    color: #5088fb;
}
.fa-skype{
    color: #5088fb;
}
.pic{
    filter: grayscale(100%);
}
.icon{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
.col:hover .icon{
    max-height: 100px;

}
.layer{
    width: 100%;
    position: absolute;
    top: 0;
    border-bottom: 1px solid red;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}
.col:hover .layer{
    max-height: 500px;
}


.o-works{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}






.feedback h1{
    font-size: 40px;
    color: white;
}
.feedback{
    padding: 100px 0px 10px 105px;
    background-color: black;
}
.feedback p{
    font-size: 20px;
    margin-top: 20px;
    color: white;
}






.student{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 105px;
    background-color: black;
    padding-top: 50px;
}
.student-card{
    width: 87%;
    padding: 20px 80px 20px 30px;
    margin-bottom: 50px;
    border-radius: 10px;
    color: white;
    outline: 3px solid white;
}
.student-info{
    display:flex;
}
.student-image img{
    border-radius: 100px;
}
.student-name h1{
    margin-top: 20px;
    margin-left: 30px;
}
.student-name p{
    margin-left: 30px;
    margin-top: 5px;
}
.student-card p{
    text-align: justify;
    margin-top: 10px;
}
.student-card:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    
}








.instraction{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 80px;
    background-color: rgb(191, 191, 191);
    
    
}
.design-card{
    width: 410px;

}
.design-card h1{
    margin-top: 10px;
}
.design-card p{
    margin-top: 15px;
    text-align: justify;
}
.design-card button{
    padding: 10px 166px;
    cursor: pointer;
    margin-top: 30px;
    background-color: red;
    border: none;
    font-weight: bold;
    color: white;
}
.design-card button:hover{
    background-color: rgb(210, 42, 42);
    transition: 0.5s;
}





.location{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0 20px 0px;
    background-color: rgb(3, 18, 64);
}
.office-location h1{
    font-size: 40px;
    color: white;
}
.office-location p{
    font-size: 18px;
    margin-top: 20px;
    color: white;
}
.office-location h2{
    margin-top: 20px;
    color: white;
    
}
.office-location img{
    margin-top: 30px;
}


.subscribe h1{
    color: white;
    font-size: 40px;
}
.subscribe p{
    font-size: 18px;
    margin-top: 20px;
    color: white;
}
.subscribe input{
    padding: 10px 180px 10px 20px;
    margin-top: 30px;
    
}
.subscribe button{
    padding: 12px 35px;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 15px;
}
.subscribe button:hover{
    background-color: rgb(210, 52, 52);
    transition: 0.5s;
}